<!DOCTYPE html>
<html>
<head>
	<title>PetMedVida - Registro de Animais e Vacinas</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<h1>PetMedVida</h1>
		<nav>
			<ul>
				<li><a href="#">Registro de Animais</a></li>
				<li><a href="#">Registro de Vacinas</a></li>
				<li><a href="#">Sobre</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Registro de Animais</h2>
			<p>Registre seus animais de estimação e acompanhe sua saúde.</p>
			<a href="#" class="button">Registrar</a>
		</section>
		<section>
			<h2>Registro de Vacinas</h2>
			<p>Registre as vacinas de seus animais de estimação e fique tranquilo.</p>
			<a href="#" class="button">Registrar</a>
		</section>
	</main>
	<footer>
		<p>Desenvolvido por PI_S2G7 - [2023]</p>
	</footer>
</body>
</html>
